@use "../abstracts/variables" as *;

.pre-title {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 25px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: $color-dark-gray;
  &::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 1px;
    background: $color-red;
    left: 0;
  }
}

.pre-title1 {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 25px;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  color: $color-gray;
  &::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 1px;
    background: $color-dark-gray;
    left: 0;
  }
}

.pre-title2 {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 15px;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  color: $color-gray;
  &::before {
    content: '';
    position: absolute;
    width: 6px;
    aspect-ratio: 1;
    border-radius: 20px;
    background: $color-dark-gray;
    left: 0;
  }
}
