@use "../abstracts/variables" as *;

.statistics {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        display: block;
        background-image: url(/images/architecture-statistics.png);
        background-repeat: no-repeat;
        background-size: contain;
        top: -30px;
        left: 0;
        width: 286px;
        height: 545px;
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 150px;
        padding-bottom: 50px;
    }
    &__title {
        padding-top: 20px;
        padding-bottom: 75px;
        font-size: 52px;
        line-height: 1.19;
        text-align: center;
    }
}

.numbers {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 18px;
    &__items {
        background-color: $color-dark-white;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        width: 25%;
        transition: all .5s;
        &:hover {
            background-color: $color-orange;
            color: $color-white;
            transition: all .5s;
            & > * {
                color: $color-white;
                transition: all .5s;
            }
        }
    }
    &__title {
        font-weight: 600;
        font-size: 52px;
        line-height: 1.19;
        padding-bottom: 20px;
        transition: all .5s;
    }
    &__description {
        font-family: "Jost", sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 142%;
        color: $color-dark-gray;
        transition: all .5s;
    }
}